.jumbotron {
    background-color: #ffd700;
    color: #000000;
}
.card-item {
    flex: 1 250px;
    margin: 20px 10px;
    padding: 6px;
}
.card-item > div:nth-child(2) {
    text-align: right;
}
footer {
    background-color: #ffd700;
    padding: 20px;
    margin-top: 20px;
    color: #363636;
}
footer ul {
    padding: 0;
    list-style-type: none;
}
footer .col-sm-4:nth-child(3) li {
    text-align: right;
}
footer a {
    color: #000000;
}